DATABASE_URL="postgresql://neondb_owner:npg_3j4MLtGcqCga@ep-delicate-hill-az3aluvc-pooler.c-3.ap-southeast-1.aws.neon.tech/billing?sslmode=require&channel_binding=require"

AUTH_SECRET="GANTI_DENGAN_RANDOM_SECRET_MINIMAL_32_KARAKTER"

ADMIN_NAME="Administrator"
ADMIN_EMAIL="admin@asna.com"
ADMIN_PASSWORD="kmzwa88saa"

ROUTER_CREDENTIAL_KEY="mRyPll0sWdYdWSMAGm6GQau9HbUXzzsT8XWEyXlo2ho="

HSGQ_WEB_URL=http://103.71.162.21:8080
HSGQ_USERNAME=root
HSGQ_PASSWORD=kmzwa88aa

GOOGLE_MAPS_API_KEY=AIzaSyBDD4lrYzv2d5xihld0InRiGXxn4ILJQSA
GOOGLE_MAPS_MAP_ID=4cfb869e2eca19db4cb4fc2b

NEXT_PUBLIC_GOOGLE_MAPS_DEFAULT_LAT=-7.6672
NEXT_PUBLIC_GOOGLE_MAPS_DEFAULT_LNG=111.5881
NEXT_PUBLIC_GOOGLE_MAPS_DEFAULT_ZOOM=17